.myCard {
  padding: 15px;
  margin: 25px;
  background-color: #e9ecef;
}

.cardTitle {
  color: #343a40;
  font-size: 22pt;
}

.author {
  color: #343a40;
  font-size: 16pt;
}

p {
  color: #343a40;
}

.myImg {
  margin: 0px 10px 10px 0px;
}

.myButton {
  margin: 10px 10px 0px 10px;
}